@import "tailwindcss";
@plugin "daisyui";

:root {
  /* Fonts */
  --font-body: 'Inter', sans-serif;
  --font-heading: 'Poppins', sans-serif;

  /* Colors - Light Mode */
  --color-primary: 253, 126, 20, 1;       /* Orange */
  --color-secondary: 17 24 39;       /* Dark Gray */
  --color-muted: 248, 249, 250, 1;        /* Gray */
  --color-background: 255 255 255;   /* White */
  --color-foreground: 17 24 39;      /* Dark text */
}


.font-sans { font-family: var(--font-body); }
.font-heading { font-family: var(--font-heading); }

/* -----------------------------
  4️⃣ Colors (utility classes)
----------------------------- */
.text-primary { color: rgb(var(--color-primary)); }
.bg-primary { background-color: rgb(var(--color-primary)); }

.text-secondary { color: rgb(var(--color-secondary)); }
.bg-secondary { background-color: rgb(var(--color-secondary)); }

.text-muted { color: rgb(var(--color-muted)); }
.bg-muted { background-color: rgb(var(--color-muted)); }

.text-foreground { color: rgb(var(--color-foreground)); }
.bg-background { background-color: rgb(var(--color-background)); }


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}
